RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.dll
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.dll
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.pdb
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.pdb
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csprojAssemblyReference.cache
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csproj.CoreCompileInputs.cache
RandomStuff.Tests/obj/RandomStuff.Tests.csproj.nuget.cache
RandomStuff.Tests/obj/RandomStuff.Tests.csproj.nuget.g.props
RandomStuff.Tests/obj/RandomStuff.Tests.csproj.nuget.g.targets
RandomStuff.Tests/obj/project.assets.json
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.AssemblyInfo.cs
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.AssemblyInfoInputs.cache
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.Program.cs
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csproj.CopyComplete
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csproj.FileListAbsolute.txt
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csprojAssemblyReference.cache
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csprojAssemblyReference.cache
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csprojAssemblyReference.cache
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.pdb
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.deps.json
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.runtimeconfig.json
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.runtimeconfig.dev.json
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.AssemblyInfo.cs
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.AssemblyInfoInputs.cache
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csproj.CoreCompileInputs.cache
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csproj.FileListAbsolute.txt
RandomStuff.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
RandomStuff.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
RandomStuff.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.dll
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.pdb
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.Tests.dll
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.Tests.pdb
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.Tests.deps.json
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.Tests.runtimeconfig.json
RandomStuff.Tests/bin/Debug/netcoreapp2.0/RandomStuff.Tests.runtimeconfig.dev.json
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.dll
