RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.dll
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.dll
RandomStuff/bin/Debug/netcoreapp2.0/RandomStuff.pdb
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.pdb
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csprojAssemblyReference.cache
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csproj.CoreCompileInputs.cache
RandomStuff.Tests/obj/RandomStuff.Tests.csproj.nuget.cache
RandomStuff.Tests/obj/RandomStuff.Tests.csproj.nuget.g.props
RandomStuff.Tests/obj/RandomStuff.Tests.csproj.nuget.g.targets
RandomStuff.Tests/obj/project.assets.json
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.AssemblyInfo.cs
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.AssemblyInfoInputs.cache
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.Program.cs
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csproj.CopyComplete
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csproj.FileListAbsolute.txt
RandomStuff.Tests/obj/Debug/netcoreapp2.0/RandomStuff.Tests.csprojAssemblyReference.cache
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csprojAssemblyReference.cache
RandomStuff/obj/Debug/netcoreapp2.0/RandomStuff.csprojAssemblyReference.cache
